In [1]:
import os
import h5py
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

# 필요 변수 설정

In [2]:
RAW_DATA_DIR = '../../input/raw_data' # 카카오에서 다운로드 받은 데이터의 디렉터리
PROCESSED_DATA_DIR = '../../input/processed_v17' # 전처리된 데이터가 저장될 디렉터리
VOCAB_DIR = PROCESSED_DATA_DIR + '/vocab' # 전처리에 사용될 사전 파일이 저장될 디렉터리

In [3]:
train_df = pd.read_csv(os.path.join(PROCESSED_DATA_DIR, 'train.csv'))

In [9]:
cate_df = train_df[[ 'bcateid', 'mcateid', 'scateid', 'dcateid']]
cate_df = cate_df.drop_duplicates().reset_index(drop=True)
cate_df.to_csv(os.path.join(PROCESSED_DATA_DIR, 'cate.csv'), index=False)

In [10]:
cate_df

      bcateid  mcateid  scateid  dcateid
0           1        1        2       -1
1           3        3        4       -1
2           5        5        6       -1
3           7        7        8       -1
4          10        9       11       -1
...       ...      ...      ...      ...
4210       51      474     3190       -1
4211       12      471     3166       -1
4212       56      495     3054      227
4213       45      185      290       -1
4214        2      328     3182       -1

[4215 rows x 4 columns]

In [11]:
cate_df[['bcateid', 'mcateid']].drop_duplicates()

      bcateid  mcateid
0           1        1
1           3        3
2           5        5
3           7        7
4          10        9
...       ...      ...
3932       29      548
3948       26      549
4005       54      550
4038       54      551
4081       41      552

[556 rows x 2 columns]

In [19]:
cate_df['scateid'].nunique()

3190